<form [formGroup]="stockForm" (ngSubmit) = "submitForm()">
  <div class="row">
    <div class="col-md-12">
      <h3 style="margin-left: 12px; margin-bottom:30px">Add Stock</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="message">{{message}}</div>
  </div>
  <div class="row">
    <div class="col-md-12"><label for="">Name</label></div>
  </div>
  <div class="row">
    <div class="col-md-12"><input type="text" class="form-control" formControlName="name" [disabled]="true"></div>
  </div>
  <div class="row">
    <div class="col-md-12"><label for="">Quantity</label></div>
  </div>
  <div class="row">
    <div class="col-md-12"><input type="text" class="form-control" formControlName="quantity"></div>
  </div>
  <div class="row">
    <div class="col-md-12"><label for="">Quantity Type</label></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <select class="form-control" formControlName="quantityType">
        <option *ngFor = "let quantityTypeOption of quantityTypeOptions" value="{{quantityTypeOption}}">{{quantityTypeOption}}</option>
      </select></div>
  </div>
  <div class="row">
    <div class="col-md-12"><label for="">Cost Price</label></div>
  </div>
  <div class="row">
    <div class="col-md-12"><input type="text" class="form-control" formControlName="costPrice"></div>
  </div>
  <div class="row">
    <div class="col-md-12"><label for="">Purchase Date</label></div>
  </div>
  <div class="row">
    <div class="col-md-12"><input type="date" class="form-control" formControlName="purchaseDate"></div>
  </div>
  <div class="row" style="margin-top: 10px">
      <div class="col-md-12">
          <button type="submit" class="btn btn-primary" [disabled] = "!stockForm.valid">Add Stock</button>
          <button type="button" class="btn btn-info" (click) = "goBack()">Back</button>
      </div>
      </div>
</form>
