<div class="container">
  <div class="row">
    <div [ngClass]  = "{'col-md-12' : !twoScreen, 'col-md-9' : twoScreen}">

      <form #searchForm = "ngForm" (ngSubmit)="searchPersons(searchForm.value)">
        <div class="row" style="margin-top:85px;">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-2" style="text-align: right;"><label>Name</label></div>
              <div class="col-md-4"><input ngModel name="name" type="text" class="form-control"></div>
              <div class="col-md-2" style="text-align: right;"><label>Mobile</label></div>
              <div class="col-md-4"><input type="number" name="mobile" ngModel class="form-control"></div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-success" routerLink="add">+ Add New Person</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row" style="margin-right:0px; margin-top:20px;">
        <table class="table table-hover table-bordered table-striped ">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Mobile</th>
            <th>Identification Type</th>
            <th>Identification No</th>
            <th>Role</th>
            <th>Balance</th>
            <th></th>
          </tr>
          <tr *ngFor="let person of resultPersons" (dblclick) = 'editPerson(person.id)' [ngClass] = "{selected: person.id === selectedPersonId}">
            <td>{{person.name}}</td>
            <td [ngClass]="{'notset': !person.address}">
              {{person.address?person.address: 'Not Set'}}
            </td>
            <td [ngClass]="{'notset': !person.mobileNo}">
              <span class="glyphicon glyphicon-earphone"></span>{{person.mobileNo?person.mobileNo:'Not Set'}}
            </td>
            <td [ngClass]="{'notset': !person.identificationType}">
              {{person.identificationType?person.identificationType: 'Not Set'}}
            </td>
            <td [ngClass]="{'notset': person.identificationNumber}">
              {{person.identificationNumber?person.identificationNumber: 'Not Set'}}
            </td>
            <td>
              <span class="role" *ngIf = "person.customer">Customer</span><span class="role" *ngIf = "person.supplier">Supplier</span>
            </td>
            <td>
              {{(person.balance?person.balance: 0) | currency: 'INR':true: '1.2-2'}}
            </td>
            <td class="contextual-menu">
              <div class="div-contextual-menu">
                <ul>
                  <li (click) = 'editPerson(person.id)'><span>Edit</span></li>
                  <li (click) = 'deletePerson(person.id)'><span>Delete</span></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr *ngIf="resultStatus">
            <td colspan="10" style="text-align: center"> {{resultStatus}} </td>
          </tr>
        </table>
      </div>

    </div>
    <div *ngIf = "twoScreen" [ngClass]  = "{'col-md-3' : twoScreen}" style="box-shadow: -2px 0px 4px 0px; padding-bottom: 40px; position: fixed; right: 0px; background:white; width: 23.2%;">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>




<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
